
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #240910;
}

.container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  height: 300px;
  text-align: center;
}
  
h1 {
  /* text-decoration-line: underline overline; */
  position: relative;
  color: blue;
  margin-top: 50px;
  padding-bottom: 40px;
} 

h1::before,
h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px; /* Define the thickness of the line */
  background-color: #5c87eb;
  left: 0;
}

h1::before {
  top: -10px; /* Position the overline */
}

h1::after {
  bottom: 25px; /* Position the underline */
}

input, button {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-top: 12px;
  border-radius: 5px;
  color: white;
}

button {
  background-color: red;
  margin-left: 4px;
}

button:hover {
  background-color: darkred;
}

#resultMessage {
  margin-top: 20px;
  color: green;
}

